<!DOCTYPE html>
<html>
    <head>
      <title>CSC317Assignment5</title>
      <link rel="icon" href="/assignment-5-repo/resources/favicon.svg" type="image/svg+xtml">
    </head>
    <body>
        <!-- Same Banner -->
        <svg width="100%" height="300">
            <image href="/assignment-5-repo\resources\Banner1.svg" width="100%" height="300"/>
            <image href="\assignment-5-repo\resources\gojo.svg" y="-75" width="70%" height="190%"/>
            </svg>

            <!--Container for Nav and Caption -->
    <div>
        <svg width="100%" height="300" style="position: absolute; z-index: -1;">
          <rect width="300" height="200" rx="10" ry="10" style="fill: grey" transform="translate(543) scale(0.75)" />
            <text x="780" y="110" font-family="cursive" font-weight="bold" font-size="80" text-decoration="underline" filter="url(#text-shadow)" transform="scale(0.75)">Links</text>
            <text x="835" y="180" font-family="cursive" font-weight="bold" font-size="50" transform="scale(0.75)">😄-></text>
        </svg>
         <!-- Nav Bar with Hyperlinks -->
        <div style="width: 50%; max-width: 200px; margin: 0 auto; background-color: #b8a4c9; padding: 20px; box-sizing: border-box; border-radius: 20px; position: relative; top: 25px;"aria-label="Navigation Menu">
          <nav class="menue" >
            <ul style="font-family: Arial; font-size: 12; font-weight: bold;">
              <li>
                <a href="/assignment-5-repo\index.html">Index Page</a>
              </li>
              <li>
                <a href="/assignment-5-repo\views\two.html">Second Page</a>
              </li>
              <li>
                <a href="/assignment-5-repo\views\three.html">Third Page</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Favorite Coding Resource Container -->
      <div style="width: 500px; height: 500px; scale: 1.5; position: relative; transform: translate(50px,20px);">
        <object type="image/svg+xml" data="/assignment-5-repo/resources/Cloud.svg" width="100%" height="100%" ></object>
            <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -110%); padding: 10px;"><span style="text-shadow: 2px 2px 4px #60696b;">Favorite Coding Resources!</span></h1>
            
            
      </div>

      <!-- Table Header and Content -->
      <table style="border-collapse: collapse; border-radius: 5px; overflow: hidden; transform: translate(600px, -200px); scale: 1.5; font-family: cursive; text-shadow: 2px 2px 4px #60696b ">
        <tbody>
          <tr>
            <th style="border: 3px solid #6710c2; "> Coding Resources</th>
            <th style="border: 3px solid #6710c2; "> Links</th>
          </tr>
         <tr>
            <td style="border: 1px solid #6710c2;">🖥Youtube🖥</td>
            <td style="border: 1px solid #6710c2; "><a href="https://www.youtube.com/watch?v=G3e-cpL7ofc" target="_blank">SuperSimpleDev's HTML and CSS Guide!</a></td>
         </tr>
         <tr>
            <td style="border: 1px solid #6710c2;">📖MDN Articles!📖</td>
            <td style="border: 1px solid #6710c2;"><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" target="_blank"> HTML Basic Elements!</a> <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element"> SVG Basic Elements!</a></td>
          </tr>
          <tr>
            <td style="border: 1px solid #6710c2;">🏫Udemy🏫</td>
            <td style="border: 1px solid #6710c2;"><a href="https://www.udemy.com/" target="_blank"> Udemy Courses</a></td>
          </tr>
        </tbody>
      </table>

    </body>






</html>